# === Python ===
*.py[cod]
__pycache__/
*.pyo
*.pyd

# === Django ===
db.sqlite3
*.sqlite3
*.log
.env

# === Virtual Environments ===
env/
venv/
myenv/

# === Node / Vue ===
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local

# === OS ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
